<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<section class="main--navigation py-3">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xs-12 col-sm-4">
				<f:link.page pageUid="589" title="Home" class="logo">
				    <f:image src="{companydata.logo}" alt="{companydata.companyname}" class="logo"/>
				</f:link.page>
			</div>
			<div class="col text-lg-right">
				<a id="navbtn" href="">
					<span class="menuLines"></span>
				</a>
				<nav id="mainnav" class="navbar navbar-expand-lg navbar-light">
					<f:render partial="MenuRecursion" section="MenuRecursionStart" arguments="{recursionStartPageUid: '589'}"/>
				</nav>
			</div>
		</div>
	</div>
</section>

<section class="mobile--navigation">
	<nav class="navbar navbar-light mt-3">
		<f:render partial="MenuRecursion" section="MenuRecursionStart" arguments="{recursionStartPageUid: '589'}"/>
	</nav>
</section>

</html>