.service--leiste .language-menu li a {
	color: $body-color;
}

.service--leiste .language-menu li::after {
	color: $body-color;
}

section.slider {
	.main-slider {
		.slidercontent {
			.wrap {
				h1, h2 {
					color: $black;
				}
				.breadcrump {
					li {
						color: $black;
					}
				}
			}
		}
	}
}

footer {
	background-color: $primary;
	color:$secondary;
	.back-to-top {
		background-color:$primary;
	}
	.footernav {
		ul {
			li {
				a {
					&:hover {
						color: darken($white,10%);
					} 
				}
			}
		}
	}
	.social-media {
		ul.social-media-buttons {
			li {
				a {
					&:hover {
						background-color: $secondary;
						color: $white;
					}
				}
			}
		}
	}
}

.business--units {
	background-color: $primary;
	.description {
		color: rgba($white,0.6);
	}
	h2 {
		color: rgba($white,0.6) !important;
		&:after {
			border-bottom-color:rgba($white,0.6);
		}
	}
	.business--unit {
		background-color: darken($primary,5%);
		color: $white;
		border:1px solid $primary;
		.a {
			fill:rgba($white,0.5);
		}
		&:hover {
			background-color: darken($primary,10%);
			.a {
				fill:$white;
			}
		}
		
	}
}

.testimonials {
	background-color: $white !important;
	h2 {
		// look here _content_headline.scss
		color: $body-color !important;
	}
	.testimonial {
		&--content {
			background-color: $secondary;
			&:after {
				border-color: $secondary $white $white $white;
			}
		}
		h3 {
			color: $body-color;
		}
		&--position {
			color: $body-color;
		}
		
	}
	// Swiper anpassungen
	.swiper-pagination {
		position: relative;
		.swiper-pagination-bullet {
			background-color: rgba($white,0.8); 
			width: 10px;
			height: 10px;
			&-active {
				background-color: rgba($white,0.9);
			}
		}
	}
}