// Hier muss die Original Variablen-Datei "zurück"-geladen werden
//@import "typo3conf/ext/theme/Resources/Private/Scss/main";

// Browser Reset
@import "typo3conf/ext/theme/Resources/Private/Scss/Plugins/reset";
// Bootstrap components
// Use Bootstrap/bootstrap.less to enable/disable features
@import "Bootstrap/variables";
@import "typo3conf/ext/theme/Resources/Private/Scss/Bootstrap/bootstrap";
@import "typo3conf/ext/theme/Resources/Private/Scss/mixins";
// Theme Variables
//@import "typo3conf/ext/theme/Resources/Private/Scss/variables";
// Theme Plugins
//@import "typo3conf/ext/theme/Resources/Private/Scss/Plugins/cookiebar";
@import "Plugins/cookiebar";
// Modules
@import "typo3conf/ext/theme/Resources/Private/Scss/modules";

// Modules
@import "typo3conf/ext/theme/Resources/Private/Scss/contentelemente";

// ##############################
// Mobile first media queries
// ##############################
// Mobile and beyound
// ##############################

a {
	@include transition($transition-base);
}

p {
	font-family: "Segoe UI Regular", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

b,strong {
	font-weight: $font-weight-bold;
}

//Ab Hier Overrides möglich, mit den bestehenden Variablen aus theme UND themeoverride
//@import "variables";
@import "styles";

